.card {
    margin-left: auto;
    margin-right: auto;
    margin-top: 4%;
    margin-bottom: 3%;
    width: 32%;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.459);
    border-radius: 2%;
    height: 70%;
    }
    .title
    {
        margin-left: 37%
    }
    .subtitle{
        margin-left: 43%

    }
    .email
    {
        width: 12%
    }
    .userName {
        width: 65%;
        margin-left: 19%;
        height: 5%;
     
     }
     .href{
        margin-left: 19%;
    }
    
.mat-button, .mat-icon-button, .mat-stroked-button {
   
    margin-left: 69%;
    margin-top: -10%
}