<mat-card class="card">
  <mat-card-subtitle class="subtitle">
    <h2>sign in </h2>
  </mat-card-subtitle>

  <div fxLayout="column" fxLayoutGap="5%" fxLayout.xs="column">

    <mat-form-field appearance="outline" class="userName">

      <mat-label aria-autocomplete="off">Your email address</mat-label>
      <mat-error *ngIf='email.Invalid'>{{getEmailError()}}</mat-error>
      <input matInput placeholder="your email address" [(formControl)]="email">

    </mat-form-field>
  </div>

  <div fxLayout="column" fxLayoutGap="5%">
    <mat-form-field appearance="outline" class="userName">
      <mat-label>Password</mat-label>
      <mat-error *ngIf='password.Invalid'>{{getPassError()}} Password is required</mat-error>

      <input matInput placeholder="Password" [(formControl)]="password" [type]="!hide ? 'password' : 'text'" required>

      <mat-icon matSuffix (click)="hide = !hide">{{!hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </mat-form-field>
  </div>

  <div class="href" fxLayout="row" fxLayoutGap="5%" fxLayout.xs="column">

    <a routerLink="/register">
      <p>create account</p>
    </a>

  </div>
  <div style="margin-left: 65%;
  margin-top: -11%;" fxLayout.xs="column" fxLayoutAlign.xs="center center">
    <button mat-raised-button color="primary" (click)=next()>sign in</button>

  </div>
</mat-card>


<!-- <div fxLayout="row" fxLayoutGap="5%" fxLayout.xs="column" fxLayoutAlign="start end">
  <button mat-raised-button color="primary"  (click)=next()>sign in</button>

</div> -->